# Ignore the virtual environment folder
venv/

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore IDEs and editors settings
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS)
.DS_Store

Crop Recommendation Using Machine Learning.ipynb
